@tailwind base;
@tailwind components;
@tailwind utilities;



body {
    width: 95%;
    margin: 0 auto;
    font-family: 'Shantell Sans', cursive;
}

@layer base {
    button {
      @apply rounded-xl border border-green-900 px-3 py-1;
    }
}